# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sw?

# Visual Studio local state
/.vs/

# User-specific settings
*.user

*.tsbuildinfo

.eslintcache

# Cypress
/web_vue.client/cypress/videos/
/web_vue.client/cypress/screenshots/

# Vitest
__screenshots__/

# Vite
*.timestamp-*-*.mjs

# Nuxt
.nuxt/

# .NET build outputs
/Web_Vue.Server/bin/
/Web_Vue.Server/obj/
/web_vue.client/obj/
